/*
Global Styles
*/
/** Font Imports */

/* 
    Cabin Font; 
    - Declaration: font-family: 'Cabin', sans-serif;
    - Regular: 400, 500, 600, 700
    - Italic: 400, 500, 600, 700 
    Marvel Font: 
    - Declaration: font-family: 'Marvel', sans-serif;
    - Regular: 400, 700, 
    - Bold: 400, 700 
    Source Sans Pro
    - Declaration: font-family: 'Source Sans Pro', sans-serif;
    - Regular: 200, 300, 400, 600, 700
    - Italic: 200, 300, 400, 600, 700
 */
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap");

/** Variables **/
:root {
  --font-fam-alt: "Marvel", sans-serif;
  --font-fam-headers: "Cabin", sans-serif;
  --font-fam-primary: "Source Sans Pro", sans-serif;
  --color-bg: #0a090eb9;
  --color-txt-headline: #fffffe;
  --color-txt-paragraph: #a7a9be;
  --color-btn-bg: #ff8906;
  --color-btn-txt: #fffffe;
  --color-sec-main-bg: #fffffe;
  --color-sec-secondary-bg: #f25f4c;
  --color-sec-tertiary-bg: #e53170;
  --color-stroke: #000;
  --color-card-bg: #fffffe;
  --color-card-paragraph: #2e2f3e;
  --color-card-headline: #0f0e17;
  --color-card-tag-bg: #ff8906;
  --color-card-tag-txt: #fffffe;
  --color-card-highlight: #e53170;
}

/** Global Styling **/
html {
  background-color: var(--color-bg);
  color: var(--color-txt-paragraph);
}

div#root nav {
  display: grid;
}
div#root nav a {
  text-decoration: none;
}

/** main page content **/
div#root main {
  display: flex;
  flex-direction: column;
  place-content: center;
  font-family: var(--font-fam-primary);
}

/** standard headers **/
div#root main h1,
div#root main h2,
div#root main h3,
div#root main h4,
div#root main h5 {
  font-family: var(--font-fam-headers);
  color: var(--color-txt-headline);
}

/** alternative headers **/
div#root main h1.alt,
div#root main h2.alt,
div#root main h3.alt,
div#root main h4.alt,
div#root main h5.alt {
  font-family: var(--font-fam-alt);
}

/** generic form styling **/
.card {
  background-color: var(--color-card-bg);
  padding: 15px 15px;
  margin: 15px 15px;
  border-radius: 7px;
}
form label,
form input,
form button {
  font-weight: 600;
}
form label {
  color: var(--color-stroke);
}
form input {
  background-color: var(--color-card-paragraph);
  color: var(--color-card-bg);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 0px 10px 0;
}
button,
input[type="submit"] {
  background-color: var(--color-btn-bg);
  color: var(--color-btn-txt);
}

/** helper classes **/

.shadow {
  box-shadow: 0 2px 1.6px rgba(0, 0, 0, 0.15),
    0 4.5px 3.6px rgba(0, 0, 0, 0.114), 0 7.9px 6.3px rgba(0, 0, 0, 0.098),
    0 12.5px 10px rgba(0, 0, 0, 0.086), 0 19.3px 15.5px rgba(0, 0, 0, 0.075),
    0 30.1px 24.1px rgba(0, 0, 0, 0.064), 0 50px 40px rgba(0, 0, 0, 0.052),
    0 100px 80px rgba(0, 0, 0, 0.036);
}

/** tablet styles **/
@media only screen and (min-width: 768px) {
}

/** laptop styles **/
@media only screen and (min-width: 1280px) {
}
